$colors: (
  primary: #45a29e,
  primary-light: #66fcf1,
);
$fontMain: "Josefin Sans", sans-serif;
@function color($color-name) {
  @return map-get($colors, $color-name);
}

//px's are for monkeys, rem OR relative units, 1rem = 10px, vw = viewport width AND VH= viewport height
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; //1rem === 10px
  font-family: $fontMain;
}
.header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(color(primary), 0.5),
      rgba(color(primary-light), 0.5)
    ),
    url(img/headphones-bg.jpg);
  background-size: cover;
  //background-position: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  position: relative;
}
.header-text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
}
.header-primary {
  color: #fff;
  font-size: 10rem;
}
.header-primary-main {
  display: block;
  letter-spacing: 1rem;
  text-shadow: #333 5px 5px;
}
.header-primary-sub {
  font-size: 4rem;
}
